@use "plugin" as *;

// FRAME
body{
  position: relative;
  background-color: $bg-main;
}

.diary {
  padding-top: $height-navbar;
  background: var(--diary-bg);
  .diary-list-container {
    border-radius: 0;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    background: var(--diary-bg);
  }
  .diary-container {
    border-radius: 0;
    overflow: hidden;
  }
}

.diary-list-group-container{
  padding-bottom: 100px;
}

// PC & IPAD
@media (min-width: $grid-separate-width-md) {
  .diary {
    display: flex;
    .diary-list-container {
      border-right: 1px solid var(--diary-border);
      overflow-y: auto;
      width: clamp(360px, 25vw, 440px);
      flex-shrink: 0;
      background: var(--diary-bg);
    }
    .diary-container {
      display: block;
      overflow-y: auto;
      flex-grow: 1;
    }
  }
}

// IPAD
@media (min-width: $grid-separate-width-md) and (max-width: $grid-separate-width-big) {
  .diary {
    padding-top: $height-navbar;
    display: flex;
    .diary-list-container {
      border-right: 1px solid var(--diary-border);
      width: 380px;
    }
    .diary-container {
      display: block;
    }
  }
}

// MOBILE
@media (max-width: $grid-separate-width-md) {
  .diary {
    .diary-list-container {
      width: 100%;
    }
    .diary-container {
      display: none;
    }
  }
}

// VCalendar
.vc-container {
  width: auto !important;
}
